/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of reset. */
html {
	font-family: sans-serif;
	height: 100%;
	box-sizing: border-box;
}

body {
	height: 100%;
  padding: 5% 5% 5% 5%;
	box-sizing: border-box;
}

#form-page {
	display: flex;
	flex-direction: column;
  justify-content: center;
	align-items: center;
}

h1 {
  font-size: 7vw;
	font-weight: bold;
	margin-bottom: 5%;
	align-self: center;
}

.game-name {
  margin-bottom: 2%;
}

#instructions {
	font-size: 5vw;
  margin-bottom: 20px;
}

form {
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.form-row {
	margin-bottom: 15px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

label {
	font-size: 4.5vw;
	text-align: right;
	padding-right: 0.5em;
	flex-basis: 25%;
	white-space: nowrap;
}

.name-field {
	flex-basis: 30%;
}

#player1-confirmation {
  display: block;
  margin-top: 10px;
  height: 30px;
  width: fit-content;
}

#game-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.player-container {
	width: 100%;
	flex-basis: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}

#P1 {
	transform: rotate(0.5turn);
}

.game-instructions, .score {
	margin-bottom: 2%;
}

.button-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-basis: 40%;
}

.move-button {
	align-self: center;
	background-color: gold;
	border-radius: 50%;
	height: 19vw;
	width: 19vw;
	font-size: 10vw;
}

.feuille {
	margin: 3vw 0 3vw 0;
}

@media (max-height: 740px) {
	.move-button {
		height: 10vh;
		width: 10vh;
		font-size: 5vh;
	}
}

@media (min-width: 600px) {
	.move-button {
		height: 9vh;
		width: 9vh;
		font-size: 4vh;
	}
}

@media screen and (orientation: landscape) {
	.rotated {
		/* Rotate the content container */
		transform: rotate(-90deg);
		transform-origin: left top;
		/* Set content width to viewport height */
		width: 100vh;
		/* Set content height to viewport width */
		height: 100vw;
		overflow-x: hidden;
		position: absolute;
		top: 100%;
		left: 0;
	}

	h1 {
		font-size: 7vh;
	}

	#instructions {
		font-size: 5vh;
	}

	label {
		font-size: 4.5vh;
	}

	.move-button {
		height: 19vh;
		width: 19vh;
		font-size: 10vh;
	}

	.feuille {
		margin: 3vh 0 3vh 0;
	}
}

@media (max-width: 740px) and (orientation: landscape) {
	.move-button {
		height: 10vw;
		width: 10vw;
		font-size: 5vw;
	}
}

@media (min-width: 600px) and (orientation: landscape) {
	.move-button {
		height: 9vw;
		width: 9vw;
		font-size: 4vw;
	}
}
