/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of reset. */
html {
	height: 100%;
	box-sizing: border-box;
}

body {
	height: 100%;
  padding: 5% 5% 5% 5%;
	box-sizing: border-box
}

#form-page {
	display: flex;
	flex-direction: column;
}

h1 {
  font-size: 7vw;
	font-weight: bold;
	margin-bottom: 5%;
}

#instructions {
	font-size: 4vw;
	align-self: start;
  margin-bottom: 20px;
}

.form-row {
	margin-bottom: 15px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

label {
	text-align: right;
	padding-right: 2%;
	flex-basis: 25%;
}

.name-field {
	flex-basis: 30%;
}

#player1-confirmation {
  display: block;
  margin-top: 10px;
  height: 30px;
  width: fit-content;
}

#game-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.player-container {
	width: 100%;
	flex-basis: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#P1 {
	transform: rotate(0.5turn);
}

.game-instructions, .score {
	margin-bottom: 2%;
}

.button-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-basis: 40%;
}

.move-button {
	width: 47%;
	height: 28%;
	align-self: center;
}